.App {
  text-align: center;
}
/* common style for all screen sizes */
body {
  font-size: 16px;
}

.dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* query for smaller screens (e.g., iPhone 5/SE) */
@media screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }
}

/* query for medium screens (e.g., iPhone 6/7/8) */
@media screen and (min-width: 321px) and (max-width: 375px) {
  body {
    font-size: 16px;
  }
}

/* query for larger screens (e.g., iPhone X and above) */
@media screen and (min-width: 376px) {
  body {
    font-size: 18px;
  }
}
