/* Common styles for all screen sizes */
body {
  font-size: 16px;
}

/* Styles for the dropdown container */
.dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Styles for smaller screens (e.g., iPhone 5/SE) */
@media screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }

  .dropdown-container {
    width: 100%; /* Make the dropdown container full-width on smaller screens */
  }

  .search-results-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
    gap: 10px; /* Add some gap between grid items */
    grid-template-rows: repeat(4, auto); /* Four rows */
    margin-top: 20px;
  }
}

/* Styles for medium screens (e.g., iPhone 6/7/8) */
@media screen and (min-width: 321px) and (max-width: 375px) {
  body {
    font-size: 16px;
  }

  .dropdown-container {
    width: 100%; /* Make the dropdown container full-width on medium screens */
  }

  .search-results-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
    gap: 10px; /* Add some gap between grid items */
    grid-template-rows: repeat(4, auto); /* Four rows */
    margin-top: 20px;
  }
}

/* Styles for larger screens (e.g., iPhone X and above) */
@media screen and (min-width: 376px) {
  body {
    font-size: 18px;
  }

  .search-results-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns for larger screens */
    gap: 10px; /* Add some gap between grid items */
    grid-template-rows: repeat(4, auto); /* Four rows */
    margin-top: 20px;
  }
}
